.dev-language-container {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}



/* ---Tablets */
@media (width >= 768px) {
	.dev-language-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	.dev-language-container :last-child {
	grid-column: 1 /-1;
}
}

@media (width >= 1024px) {
	.dev-language-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.dev-language-container :last-child {
		grid-column: unset;
	}
}