.experience-nav {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: var(--spacing-xs);

	padding: var(--spacing-xs);
}

.experience-tab {
	padding: var(--spacing-xs) var(--spacing-sm);
	border: none;
	cursor: pointer;
	background-color: var(--bg-color);
	border-radius: var(--border-radius-card);
}

.experience-tab:hover {
	background-color: var(--btn-xtra-color);
}

.experience-tab.active {
	background-color: var(--btn-primary-color);
	box-shadow: inset var(--shadow-soft);
}
