#root {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.app-container {
	display: flex;
	flex-direction: column;

	flex: 1;
}

.title,
.subtitle {
	text-align: center;
}

.empty-list-text {
	font-style: italic;
	color: #888;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.navigation {
	display: flex;
	justify-content: center;
	gap: var(--spacing-xs);

	padding: var(--spacing-sm) 0;
	max-width: 1024px;
}

.tab {
	padding: var(--spacing-xs) var(--spacing-sm);
	border: none;
	cursor: pointer;
	background: none;
	border-radius: var(--border-radius-card);
	color: var(--primary-text-color);
	font-weight: bold;
}

.tab.active {
	background-color: var(--btn-primary-color);
	box-shadow: inset var(--shadow-soft);
	color: var(--secondary-text-color);
}
.btn {
	border: none;
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--border-radius-card);
	box-shadow: inset var(--shadow-soft);
	transition-duration: 0.2s;
	font-weight: bold;
}

.primary-btn {
	background-color: var(--btn-primary-color);
	color: var(--primary-text-color);
}

.secondary-btn {
	background-color: var(--btn-secondary-color);
	color: var(--secondary-text-color);
}

.error-text {
	font-weight: bolder;
	color: red;
}

.accept-text {
	font-weight: bolder;
	color: green;
}

.actived-select {
	color: var(--primary-text-color);
}

main {
	flex: 1;
}

/* ---Tablets */
@media (width >= 768px) {
	header {
		gap: 2rem;
	}

	header .navigation {
		gap: var(--spacing-sm);

		padding: var(--spacing-2xl);
	}

	.tab:hover {
		background-color: var(--btn-xtra-color);
	}

	.primary-btn:hover {
		background-color: var(--btn-primary-color-hover);
		box-shadow: inset var(--shadow-hover);
	}

	.secondary-btn:hover {
		background-color: var(--btn-secondary-color-hover);
		box-shadow: inset var(--shadow-hover);
	}
}

/* ---Portatiles */
@media (width >= 1024px) {
}

/* ---Pantallas Escritorio */
@media (width >= 1440px) {
	#root {
	}
}
