:root {
	--bg-color: #deded9;
	--accent-bg-color: #ffffff;
	--primary-text-color: #003243;
	--secondary-text-color: #ffffff;
	--links-text-color: #ff4400;

	--btn-primary-color: #ff4400;
	--btn-primary-color-hover: #eb4306;
	--btn-secondary-color: #003243;
	--btn-secondary-color-hover: #00212e;
	--btn-xtra-color: rgba(0, 50, 67, 0.2);

	--shadow-soft: 0 0px 10px rgba(0, 0, 0, 0.2);
	--shadow-hover: 0 0px 14px rgba(0, 0, 0, 0.4);

	--font-size-html: 15px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-2xl: 36px;
	--spacing-4xl: 60px;

	--border-radius-card: 4px;
	--border-radius-btn: 1000px;

	--container-width: 90%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: var(--font-size-html);
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica, "bodyfont", "doggyfont", "cattyfont", "bunnyfont", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body,
span,
small {
	margin: 0;
	padding: 0;
	color: var(--primary-text-color);
}

ul {
	list-style-type: none;
}

input, textarea {
	color: var(--primary-text-color);
}

input,
textarea,
select {
	outline: none;
	padding: var(--spacing-xs);
	border: none;
}

select {
	color: #888;
}

select > option {
	color: var(--primary-text-color);
	background-color: var(--bg-color);
	backdrop-filter: blur(1px);
}

select > option[disabled] {
	color: #888;
}

select > option:hover {
	color: var(--secondary-text-color);
	background-color: var(--btn-primary-color);
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: unset;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}
